<!DOCTYPE html>
<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <head>
    <title>Project</title>
     <nav class="navbar navbar-light bg-light">
    <%= link_to 'Back', albums_path %>
    <a class="navbar-brand" href= "/albums/" >Albums</a>
    <a class="navbar-brand" href= "/songs/">Songs</a>
    <a class="navbar-brand" href="/pages/about/">About</a>

<%= form_tag(search_results_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
  </nav>



  </head>

  <body>

    <%= yield %>
  </body>
</html>

