<!DOCTYPE html>
<html>
  <head>

     <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Albums</a>
    <a class="navbar-brand" href="#">Songs</a>
    <a class="navbar-brand" href="#">About</a>

<%= form_tag(search_results_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
  </nav>

    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
