<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Album title:</strong>
  <%= @album.album_title %>
</p>


<h3>Track list </h3 >
<tbody>
    <%= @album.songs.each do |song| %>

      <tr>
        <td><%= song.name  %></td><br>
       </tr>
    <% end %>

  </tbody>




