<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Album</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>

      <tr>
        <td><%= song.name %></td>

        <td><%= link_to song.album.album_title, song.album %></td>
        </tr>
    <% end %>
  </tbody>

</table>
 <%= paginate @songs%>
<br>

<%= link_to 'New Song', new_song_path %>
